/* HOMEPAGE */

.homepage-container {
  position: relative;
  overflow: hidden;
}

.homepage__title {
  font-size: 7.8rem;
  font-weight: 800;
  color: #3c4859;
  animation: moveInLeft 2s;
}

.homepage__brief {
  font-size: 2rem;
  line-height: 1.9;
  color: #3c4859;
  font-weight: 400;
  animation: fadeout 2s;
  width: 70%;
}

.homepage__tag {
  font-size: 2.6rem;
  line-height: 1.5;
  margin: 2px 0 10px 0;
  font-weight: 200;
  border-bottom: 1px solid #000;
  display: inline-block;
  color: #d1603d;
}

.highlight {
  background-color: #d1603d;
  color: #fff;
  animation: fadeout 2s infinite;
}

/* HOW IT WORKS */
.how-it-works {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  text-align: center;
}

.how-it-work-num {
  text-align: center;
  background: #db8367;
  border-left: 5px solid #3c4859;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin: 30px auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.how-it-work-brief {
  font-weight: 500;
  line-height: 1.7;
  width: 290px;
  margin: 0 auto;
  animation: fadeout 2s;
  font-size: 1.8rem;
}

.how-it-works-title {
  color: #3c4859;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding: 80px 0 10px 0;
}

/* RELEVANT */
.relevant {
  background: #db8367;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.relevant-content {
  font-weight: 400;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  animation: getbig 4s infinite;
  backface-visibility: hidden;
}

.bg-img {
  background-image: linear-gradient(#da8467, rgba(255, 255, 255, 0.801)),
    url("https://res.cloudinary.com/decqfpglp/image/upload/v1554140340/city-wallpaper-9.jpg");
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  display: block;
}

@media only screen and (max-width: 600px) {
  .how-it-works {
    display: block;
  }

  .footer_content {
    display: block;
  }

  .homepage__brief {
    font-size: 1.8rem;
  }

  .homepage__title {
    font-size: 6rem;
  }

  .btn-login,
  .btn-register {
    padding: 11px 30px !important;
  }

  .homepage__tag {
    font-size: 2rem;
  }

  .how-it-works-title {
    font-size: 3rem;
  }
}
